@import url('header.css');
@import url('footer.css');

@import url('https://fonts.googleapis.com/css2?family=Rye&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');


body {
    width: 100%;
    height: auto;
    overflow-x: hidden;
 }

 .container {
  width: 1300px;
  height: auto;
  margin: 0 auto;
  padding: 5px;
}

  /* Catalogue */

  .catalogue {
    width: 100%;
    height: auto;
    background: url('../picture/catalogue_pages_background.jpg') repeat-y center/cover;
  }

  .catalogue__container {
    width: 1200px;
    margin: 0 auto;
    padding: 5px;
  }

  .catalogue__promo {
    background: #ffffff;
    opacity: 0.95;
    padding: 10px 30px;
    margin: 10px 0;
  }

  .catalogue__header {
    text-transform: uppercase;
    text-align: center;
    font-family: 'Balsamiq Sans', cursive;
    font-size: 3rem;
    color: #d8321d;

  }
  .catalogue__text {
    text-decoration: none;
    text-align: justify;
    font-family: 'Inter', sans-serif;
    font-size: 1.5rem;
    color: #d8321d;
  }

  /* CATALOGUE CARD  */

  .catalogue__card {
    background: #ffffff;
    opacity: 0.95;
    padding: 10px 30px;
    margin: 10px 0;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
  }
  .catalogue__picture {
    opacity: 1;
  }

  .card__description {
    margin-left: 10px;
    padding: 10px;
  }

  .card__header_first {
    font-family: 'Rye', cursive;
    font-size: 2rem;
    font-weight: 600;
    color: #d8321d;
    text-align: center;
  }

  .card__header_second {
    font-family: 'Balsamiq Sans', cursive;
    font-size: 1.8rem;
    color: #d8321d;
    text-align: center;
  }

  .card__text_main {
    font-family: 'Inter', sans-serif;
    font-size: 1.2rem;
    color: #2b2121;
    text-align: justify;
  }

  .card__text_second {
    font-family: 'Inter', sans-serif;
    font-size: 1.2rem;
    color: #2b2121;
    text-align: center;
  }

