@import url('header.css');
@import url('footer.css');

@import url('https://fonts.googleapis.com/css2?family=Rye&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');


body {
    max-width: 100vw;
    max-height: auto;
    overflow-x: hidden;
 }

.container {
    margin: 0 auto;
    padding: 5px;
}

/* ПРОМО */

.promo {
    width: 100vw;
    height: 600px;
    background: url('../picture/promo.jpg') no-repeat center/cover;
}

.promo_wrapper {
    width: 700px;
    height: auto;
    position: relative;
    top: 120px;
    left: 600px;
    display: flex; 
    flex-direction: column;
    text-align: justify;
    justify-content: center;
    align-items: center;
}

.promo_header {
    font-family: 'Rye', cursive;
    font-size: 5rem;
    color: #fa897b;
}

.promo_deviz {
    font-family: 'Balsamiq Sans', cursive;
    font-size: 1.5rem;
    color: #fa897b;
}

.promo_link {
    display: block;
    width: 200px;
    height: 50px;
    padding: 5px;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    line-height: 50px;
    font-family: 'Inter', sans-serif;
    color: #fa897b;
}

.promo_link:hover {
    color: #ffffff;
    background-color: #fa897b;
}
/* КАТАЛОГ ИЗБРАННОЕ */

.feature_catalogue {
    width: 100vw;
    height: 750px;
    background: url('../picture/feature_catalogue.jpg') no-repeat center/cover;
}

.feature_catalogue_wrapper {
    display: flex; 
    flex-direction: column;
    text-align: justify;
    justify-content: center;
    align-items: center;
    padding: 0 5px 0 5px;
}

.feature_catalogue_header {
    font-family: 'Balsamiq Sans', cursive;
    font-size: 2rem;
    color: #fa897b;
    text-transform: uppercase;
    align-self: flex-start;
    margin-left: 50px;
    text-shadow: 2px 2px 2px #ffffff;
}

.feature_catalogue_list {
    width: 1200px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;

}

.feature_catalogue_link {
    display: block;
    width: 300px;
    height: 50px;
    padding: 5px;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    line-height: 50px;
    font-family: 'Inter', sans-serif;
    font-size: 1.3rem;
    color: #ce7165;
}

.feature_catalogue_link:hover {
    color: #ffffff;
    background-color: #ce7165;

}
/* КАТАЛОГ */

.catalogue {
    width: 100vw;
    height: 750px;
    background: url('../picture/catalogue.jpg') no-repeat center/cover;
}

.catalogue_wrapper {
    display: flex; 
    flex-direction: column;
    text-align: justify;
    justify-content: center;
    align-items: center;
    padding: 0 5px 0 5px;
}

.catalogue_header {
    font-family: 'Balsamiq Sans', cursive;
    font-size: 2rem;
    color: #fa897b;
    text-transform: uppercase;
    align-self: flex-start;
    margin-left: 50px;
    text-shadow: 2px 2px 2px #ffffff;
}

.catalogue_list {
    max-width: 90vw;
    position: relative;
    margin: auto;
}

.catalogue_dot {
    text-align: center;
}
.catalogue_link {
    display: block;
    width: 300px;
    height: 50px;
    padding: 5px;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    line-height: 50px;
    font-family: 'Inter', sans-serif;
    font-size: 1.3rem;
    color: #ce7165;
}

.catalogue_link:hover {
    color: #ffffff;
    background-color: #ce7165;

}

/* Карточка избранная */

.feature_card {
    width: 300px;
    height: 450px;
    margin: 5px;
    background: url('../picture/spirit.jpg') no-repeat center;
}

.feature_card_title {
    position: relative;
    top: 175px;
    left:-100px;
    transform: rotate(-90deg);
    font-family: 'Inter', sans-serif;
    font-size: 2.2rem;
    color: #9b0707;
    text-shadow: 2px 2px 2px #ffffff;
}

.feature_card_button {
    display: block;
    text-decoration: none;
    width: 100px;
    height: 30px;
    padding: 5px;
    text-align: center;
    line-height: 30px;
    position: relative;
    top: 270px;
    left: 100px;
    opacity: 80%;
    font-family: 'Inter', sans-serif;
    font-size: 1.1rem;
    color: #d8321d;
    background-color: #c2b9b9;
}

.feature_card_button:hover {
    transform: scale(1.1);
}

.spirit {
    background: url('../picture/spirit.jpg') no-repeat center;
}

.oil {
    background: url('../picture/oil.jpg') no-repeat center;
}

.hard {
    background: url('../picture/hard.jpg') no-repeat center;
}

/* Карточка каталога*/

.card {
    width: 600px;
    height: 450px;
    margin: 5px;
    padding: 5px;
    display: flex; 
    flex-direction: row;
    justify-content: center;
    display: none;
}
.card_description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-basis: 300px;

}

.card_title {
    font-family: 'Inter', sans-serif;
    font-size: 2rem;
    color: #9b0707;
    text-shadow: 2px 2px 2px #ffffff;
    flex-basis: 300px;
    align-self: baseline;
}

.card_text {
    font-family: 'Inter', sans-serif;
    font-size: 1.3rem;
    color: #000000;
    text-align: justify;
}

.card_button {
    display: block;
    text-decoration: none;
    width: 100px;
    height: 30px;
    padding: 5px;
    text-align: center;
    line-height: 30px;
    opacity: 80%;
    font-family: 'Inter', sans-serif;
    font-size: 1.1rem;
    color: #d8321d;
    background-color: #c2b9b9;
    cursor: pointer;
}

.card_button:hover {
    transform: scale(1.1);
    background-color: #d8321d;
    color: #ffffff;
}

.card_spirit {
    background: url('../picture/spirit.jpg') no-repeat left;
}
.card_oil {
    background: url('../picture/oil.jpg') no-repeat left;
}
.card_hard {
    background: url('../picture/hard.jpg') no-repeat left;
}
.card_child {
    background: url('../picture/child.jpg') no-repeat left;
}
.card_man {
    background: url('../picture/man.jpg') no-repeat left;
}

.prev {
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: -100px;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: #d8321d;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
  }
  
  .next {
        cursor: pointer;
        position: absolute;
        top: 50%;
        right: -100px;
        width: auto;
        margin-top: -22px;
        padding: 16px;
        color: #d8321d;
        font-weight: bold;
        font-size: 18px;
        transition: 0.6s ease;
        border-radius: 0 3px 3px 0
  }
  
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }

  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }

  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }

/* О НАС */
.about {
    width: 100vw;
    height: 500px;
    background: url('../picture/about.jpg') no-repeat center/cover;
}

.about_header {
    font-family: 'Balsamiq Sans', cursive;
    font-size: 2rem;
    color: #fa897b;
    text-transform: uppercase;
    align-self: flex-start;
    margin-left: 50px;
}

.about_text1 {
    display: block;
    margin-left: 150px;
    width: 300px;   
    font-family: 'Inter', sans-serif;
    font-size: 1.5rem;
    color: #302d2d;
    float: left;
}

.about_text2 {
    display: block;
    margin-right: 120px;
    width: 300px;   
    float: right;
    font-family: 'Inter', sans-serif;
    font-size: 1.5rem;
    color: #302d2d;
}

/* БЛОГ */
.blog {
    width: 100vw;
    height: 700px;
    background: url('../picture/blog.jpg') no-repeat center/cover;
}

.blog_wrapper {
    display: flex; 
    flex-direction: column;
    text-align: justify;
    justify-content: center;
    align-items: center;
    padding: 0 5px 0 5px;
}

.blog_header {
    font-family: 'Balsamiq Sans', cursive;
    font-size: 2rem;
    color: #fa897b;
    text-transform: uppercase;
    align-self: flex-start;
    margin-left: 50px;
    text-shadow: 2px 2px 2px #ffffff;
}

.blog_text {
    font-family: 'Inter', sans-serif;
    font-size: 1.5rem;
    color: #302d2d;
}

.blog_gallery {
    width: 1300px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.blog_card {
    width:  400px;
    height: 560px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: left;
    background-color: #ffffff;
    opacity: 0.8;
    padding-bottom: 10px;
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
}

.blog_card_title {
    font-size: 1.5rem;
    margin-left: 7px;
}

.blog_card_date {
    margin-left: 7px;

}

.blog_card_text {
    margin-left: 7px;

}

.blog_card_link {
    text-decoration: none;
    cursor: pointer;
    margin-left: 7px;

}

.blog_card_link:hover {
    transform: scale(1.1) translateX(10px);
    background-color: #ffffff;
    color: #000000;
}